{% include head.html %}
{% include header.html %}

{% include components/indicator/fields-template.html %}
{% include components/indicator/units-template.html %}
{% include components/indicator/series-template.html %}
{% include multilingual-js.html key="indicator" %}
{% include multilingual-js.html key="data" %}

<div class="container">
  {% include components/indicator/breadcrumbs.html %}
  {% if site.create_indicators.previous_next_links %}
    {% include components/previous-next-links.html previous_label=page.t.indicator.previous next_label=page.t.indicator.next %}
  {% endif %}
</div>
{% include components/indicator/header.html %}
<div id="main-content" class="container goal-{{ page.goal.number }}" role="main">
  {% include components/indicator/data-notice.html %}
  {% include components/indicator/indicator-available.html %}
  {% include components/indicator/proxy-banner.html %}
  {% include components/indicator/indicator-progress.html %}
  LALA
  {% include components/indicator/indicator-content.html %}
  JAJA
  <ul class="nav nav-tabs non-stacking-tabs data-view" role="tablist">
  
  <li role="presentation"
    class="nav-item">
    <button
      class="nav-link active"
      data-bs-toggle="tab"
      role="tab"
      type="button"
      
        id="tab-chartview"
        data-bs-target="#chartview"
        aria-controls="chartview"
        aria-describedby="table-alternative"
        data-on="click"
data-event-category="Tab change"
data-event-action="Change data view"
data-event-label="Change to Chart tab"

        ><i class="fa fa-line-chart" aria-hidden="true"></i>
      
    <span class="hidden-xs" style="color:black">Grafik</span></button>
  </li>
  
  <li role="presentation"
    class="
      nav-item
      
      
    ">
    <button
      class="nav-link "
      data-bs-toggle="tab"
      role="tab"
      type="button"
      
        id="tab-tableview"
        data-bs-target="#tableview"
        aria-controls="tableview"
        data-on="click"
data-event-category="Tab change"
data-event-action="Change data view"
data-event-label="Change to Table tab"

        ><i class="fa fa-table" aria-hidden="true"></i>
      
    <span class="hidden-xs" style="color:black">Tabelle</span></button>
  </li>
  
  <li role="presentation"
    class="
      nav-item
      
      embedded-map
    ">
    <button
      class="nav-link "
      data-bs-toggle="tab"
      role="tab"
      type="button"
      
        id="tab-embeddedmapview"
        data-bs-target="#embeddedmapview"
        aria-controls="embeddedmapview"
        data-no-disagg="true"
        data-on="click"
data-event-category="Tab change"
data-event-action="Change data view"
data-event-label="Change to embedded item tab"

        ><i class="fa fa-plus-square" aria-hidden="true"></i>
      
    <span class="hidden-xs" style="color:black">Weitere Informationen</span></button>
  </li>
  
</ul>

    <div class="tab-content data-view">
    Data-view
      
        <div role="tabpanel" class="tab-pane active" id="chartview">
          Chartview

    <div id="dataset-size-warning" style="display:none" role="alert">
      <i class="fa fa-bolt"><span class="sr-only"></span></i>
      Zu viele Zeitreihen ausgewählt, um diese in einer Grafik darzustellen. Es können nicht alle Zeitreihen dargestellt werden.
    </div>

    
    
    <div id="selectionsChart">
      <figure role="group">
        <div id="chart-canvas">
          <h4 id="chart-heading" class="chart-title">Marktanteil von Produkten mit staatlichen Umweltzeichen</h4>
          <h6 id="chart-heading" class="chart-subtitle"></h6>
          <div id="chart" class="plot-container">
            <canvas
    role="img"
    aria-labelledby="chart-heading"
    aria-describedby="table-alternative chart-annotations"
    tabindex="0"
 ></canvas>
selectionsChart
          </div>
          <div id="plotLegend"></div>
          






<div id="selectionChartFooter" class="table-footer-text">
  selectionChartFooter
  <h5 class="sr-only">Chart details</h5>
    <dl>
        
          <dt><u>Datenquelle</u>:</dt>
          <dd><a href="https://www.umweltbundesamt.de/" target="_blank" onclick="return confirm_alert('des Umweltbundesamts', 'De')">Umweltbundesamt</a></dd>
        

        
          <dt><u>Geographische Abdeckung</u>:</dt>
          <dd>Deutschland</dd>
        

        <dt class="data-controlled-footer-field unit-from-data"><u>Einheit</u>:</dt>
        <dd class="data-controlled-footer-field unit-from-data"></dd>

        
          <dt><u>Anmerkung</u>:</dt>
          <dd>Teilweise korrigierte Daten.</dd>
        

        

        

        
        
        <dt
          class="data-controlled-footer-field"
          data-ts-attribute="COMMENT_TS"
        ><u>Anmerkung</u>:</dt>
        <dd
          class="data-controlled-footer-field"
          data-ts-attribute="COMMENT_TS"
        ></dd>
        
        <dt
          class="data-controlled-footer-field"
          data-ts-attribute="DATA_LAST_UPDATE"
        ><u>Letzte Änderung der Daten</u>:</dt>
        <dd
          class="data-controlled-footer-field"
          data-ts-attribute="DATA_LAST_UPDATE"
        ></dd>
        
        

        
        <dt><u>Copyright</u>:</dt>
        <dd>&copy; Statistisches Bundesamt (Destatis), 2023</dd>
        
    </dl>
</div>
  {% include components/indicator/indicator-main.html %}
  BLABLA
  {% include back-to-top.html %}
</div>

{% include footer.html %}
